.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log
*.tmp
*.temp
*.swp

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/vendor/
.env
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log

/.sass-cache/
/.next/
/out/
/dist/
/build/

*.zip
*.tar
*.rar
*.gz

*.pyc
*.pyo
__pycache__/

.AppleDouble
.LSOverride

Desktop.ini
