.banner-founders-container {
  text-align: center;
  padding: 20px;
}

.banner-founders-container > h2 {
  font-family: Poppins;
  font-size: 70px;
  font-weight: 600;
  line-height: 73px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #131313;
}

.banner-founders-container > p {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4c4c4c;
}

#banner-founders .owl-carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;
}

#banner-founders .owl-carousel .item img {
  object-fit: contain;
  width: auto !important;
  max-height: 100%;
}

/* #startup */
#startup {
  padding-top: 100px;
  padding-bottom: 100px;
}

#startup .nav-pills {
  background-color: #dedede;
  width: max-content;
  padding: 8px;
  border-radius: 7px;
}

.startup-link {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #202630;
  padding: 10px 24px;
  background-color: #dedede;
  border-radius: 5px;
  border: 0;
}

.startup-link.active {
  background-color: #000000;
  color: #ffffff;
}

.startup-container {
  max-width: 690px;
  padding: 40px 60px 40px 40px;
  background-color: #ffffff;
}

.startup-container h3 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 600;
  line-height: 73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #131313;
}

.startup-container p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4c4c4c;
}

/* lg - For large devices */
@media screen and (max-width: 992px) {
  #startup {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-founders-container > h2 {
    font-size: 50px;
    line-height: 55px;
  }

  .banner-founders-container > p {
    font-size: 18px;
    line-height: 28px;
  }

  .startup-container {
    padding: 20px;
  }

  .startup-container h3 {
    font-size: 38px;
  }

  .startup-container p {
    font-size: 14px;
    line-height: 20px;
  }
}

/* md - For medium devices */
@media screen and (max-width: 768px) {
  .banner-founders-container > h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .banner-founders-container > p {
    font-size: 16px;
    line-height: 24px;
  }

  #banner-founders .owl-carousel .item {
    height: 70px;
  }
}

/* sm - For small devices */
@media screen and (max-width: 576px) {
  .banner-founders-container > h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .banner-founders-container > p {
    font-size: 14px;
    line-height: 20px;
  }

  #banner-founders .owl-carousel .item {
    height: 60px;
  }
}

/* xs - For extra small devices */
@media screen and (max-width: 350px) {
  .banner-founders-container > h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .banner-founders-container > p {
    font-size: 12px;
    line-height: 18px;
  }

  #banner-founders .owl-carousel .item {
    height: 50px;
  }
}
