/* lg - For large devices */
@media screen and (max-width: 992px) {
  #boost,
  #steps,
  #previous-engagements,
  #testimonials,
  #results-delivered,
  #projects-spotlight {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projects-spotlight-container {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
  }

  .arr {
    border-left: unset;
    border-right: unset;
  }

  .arr-container {
    width: unset;
    margin: unset;
  }

  #faq .accordion-body,
  #testimonials p,
  .plan-info > p {
    font-size: 14px;
    line-height: 20px;
  }

  #previous-engagements .nav-link,
  .plan-info > h3 {
    font-size: 18px;
    line-height: 24px;
  }

  #steps .step {
    display: grid;
    justify-content: center;
    gap: 10px;
  }

  #steps .step > .step-number {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  #steps .step > .step-number > p {
    font-size: 19px;
    line-height: 50px;
    width: 50px;
    height: 50px;
  }

  #steps h3 {
    font-size: 24px;
    line-height: 30px;
  }

  #steps p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .steps {
    gap: 25px;
  }

  #steps .ready {
    margin: 0 auto 25px;
  }

  .watermark {
    width: 70px;
    top: -30px;
    right: -15px;
  }
}

/* md - For medium devices */
@media screen and (max-width: 768px) {
  .projects-spotlight-title {
    font-size: 38px;
  }
  #accordionExample h2 > button {
    font-size: 18px;
  }
}

/* sm */
@media screen and (max-width: 576px) {
}

/* xs - For small devices */
@media screen and (max-width: 350px) {
}

@media (min-width: 992px) {
  #previous-engagements .col-lg-6,
  #steps .col-lg-5 {
    position: relative;
  }

  #previous-engagements ul.nav-tabs,
  #steps .ready {
    position: sticky;
    top: 100px;
    z-index: 10;
    background-color: #fff;
  }
}
