/* lg - For large devices */
@media screen and (max-width: 992px) {
  #results-delivered,
  #projects-spotlight {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projects-spotlight-container {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
  }

  .arr {
    border-left: unset;
    border-right: unset;
  }

  .arr-container {
    width: unset;
    margin: unset;
  }
}

/* md - For medium devices */
@media screen and (max-width: 768px) {
  .projects-spotlight-title {
    font-size: 38px;
  }
  #accordionExample h2 > button {
    font-size: 18px;
  }
}

/* sm */
@media screen and (max-width: 576px) {
}

/* xs - For small devices */
@media screen and (max-width: 350px) {
}
